body {
    background-color: #000000;
    padding: 1%;
    color: #ccc;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1em;
}

a {
    color: #ffffff;
    text-decoration: underline;
}

a:hover {
    color: #1DA1F2;
    text-decoration: underline;
}

.console {
    font-family: "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;
    color: #ffffff;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

input[type="button"] {
    cursor: pointer;
}

html {
    font-size: 16px;
}

@media screen and (max-width: 480px) {
    html {
        font-size: 15px;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    html {
        font-size: 16px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    html {
        font-size: 17px;
    }
}

@media screen and (min-width: 1025px) {
    html {
        font-size: 19px;
    }
}
