body {
    background-color: #000000;
    padding: 1%;
    color: #ccc;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1em;
}
a {
    color: #ffffff;
    text-decoration: underline;
}
a:hover {
    color: #1DA1F2;
    text-decoration: underline;
}
.console {
    font-family: "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;
    color: #ffffff;
}
input[type="button"] {
    cursor: pointer;
}

/* Media query for smartphones */
@media screen and (max-width: 768px) {
    body {
        font-size: 18px; /* Adjust the font size for smartphones */
    }
}
